form {
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  font-weight: bold;
  margin: 0;
}

form input,
button {
  width: 100%;
}

form input {
  outline: none;
  border: none;
  border: 1.2px solid grey;
}

button {
  outline: none;
  border: none;
  border: 1.4px solid blue;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.5s;
  padding: 0.3rem;
}

button:hover {
  transition: ease-in;
  background: rgb(6, 18, 73);
  color: #fff;
}

/* Tables */

.grid-table {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  background: rgb(17, 71, 102);
  color: red;
  padding: 0.5rem;
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
  font-weight: bold;
  overflow-x: hidden;
}

.expense-list-item {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  padding: 0.5rem;
  border-radius: 20px;
  max-width: 900px;
  margin: auto;
  overflow-x: hidden;
}

.expense-list-item > div {
  border-bottom: 1px dotted red;
}

/*Icons */

.del {
  margin-left: 1rem;
  color: red;
  cursor: pointer;
}

.edit {
  color: teal;
  cursor: pointer;
}
