form {
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  font-weight: bold;
  margin: 0;
}

form input,
button {
  width: 100%;
}

form input {
  outline: none;
  border: none;
  border: 1.2px solid grey;
}

button {
  outline: none;
  border: none;
  border: 1.4px solid blue;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.5s;
  padding: 0.3rem;
}

button:hover {
  transition: ease-in;
  background: rgb(6, 18, 73);
  color: #fff;
}
